# People Web
NEXT_PUBLIC_PEOPLE_WEB_URL=http://localhost:3005
NEXT_PUBLIC_PEOPLE_API_URL=http://localhost:3004/api

# Central login
NEXT_PUBLIC_PLURIVO_WEB_URL=http://localhost:3001
NEXT_PUBLIC_PLURIVO_API_URL=http://localhost:3000/api
