# dependencies
node_modules

# next
.next
out

# logs
*.log

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*
!.env.example
!*.env.example
!*.env.local.example
!modules/**/.env.example
!modules/**/.env.local.example

# build
dist
build

# coverage
coverage

# vscode
.vscode

# turbo
.turbo

# pnpm
.pnpm-store

# OS
.DS_Store
Thumbs.db

# firebase
firebase-key.json

# Secrets
serviceAccountKey.json

# Local deployment notes
DEPLOY_ENV_LOCAL.md
