@layer base {
  :root {
    --background: 240 6% 96%;
    --foreground: 240 4% 11%;
    --card: 0 0% 100%;
    --card-foreground: 240 4% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 4% 11%;
    --primary: 251 25% 20%;
    --primary-foreground: 0 0% 100%;
    --secondary: 251 55% 52%;
    --secondary-foreground: 0 0% 100%;
    --muted: 240 5% 90%;
    --muted-foreground: 240 4% 46%;
    --accent: 251 55% 52%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 251 55% 52%;

    --sidebar-background: 251 25% 20%;
    --sidebar-foreground: 230 20% 88%;
    --sidebar-muted: 230 20% 72%;
    --sidebar-accent: 0 0% 100%;
    --sidebar-accent-foreground: 251 25% 20%;

    --status-ongoing-bg: 251 55% 52%;
    --status-ongoing-fg: 251 55% 98%;
    --status-completed-bg: 60 56% 33%;
    --status-completed-fg: 60 56% 95%;
    --status-paused-bg: 230 100% 90%;
    --status-paused-fg: 251 25% 20%;
  }
}
